.example-card {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #0000001F;
    border-radius: 4px;
    opacity: 1;
    width: 168px;
    height: 319px;
}

.card-title{
    text-align: left;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0;
    color: #393939;
    opacity: 1;
}

.card-description{
    text-align: left;
    font-family: Open Sans;
    font-weight: regular;
    font-size: 14px;
    letter-spacing: 0;
    color: #393939;
    opacity: 1;
}
