<div class="row" align="center">
    <a [routerLink]="['/', 'chat']" class="col-md-2">
        <mat-card class="example-card">
            <!-- <img mat-card-image src="../../../../../assets/useryellow.png" alt="dhbsfvgu"> -->

            <mat-card-content>
                <p class="card-title">chat</p>
                <p class="card-description">Create a new chat</p>
            </mat-card-content>
        </mat-card>
    </a>
    <a [routerLink]="['/', 'componente2']" class="col-md-2">
        <mat-card class="example-card">

            <mat-card-content>
                <p class="card-title">componente2</p>
                <p class="card-description">Create a new componente2</p>
            </mat-card-content>
        </mat-card>
    </a>
    <a [routerLink]="['/', 'componente3']" class="col-md-2">
        <mat-card class="example-card">

            <mat-card-content>
                <p class="card-title">componente3</p>
                <p class="card-description">Create a new componente3</p>
            </mat-card-content>
        </mat-card>
    </a>
    <a [routerLink]="['/', 'componente4']" class="col-md-2">
        <mat-card class="example-card">

            <mat-card-content>
                <p class="card-title">componente4</p>
                <p class="card-description">Create a new componente4</p>
            </mat-card-content>
        </mat-card>
    </a>
    <a [routerLink]="['/', 'componente5']" class="col-md-2">
        <mat-card class="example-card">

            <mat-card-content>
                <p class="card-title">componente5</p>
                <p class="card-description">Create a new componente5</p>
            </mat-card-content>
        </mat-card>
    </a>
</div>