#botao {
    border: none;
    width: 28px;
    height: 28px;
    background-color: #DF4665;
    align-items: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
    top: 1.75px;;
}

#botao img {
    width: 16px;
    height: 16px;
}

header form {
    background: #DF4665;
    width: 217px;
    height: 28px;
    display: inline;
}

header form input {
    background: #DF4665;
    border: none;
    width: 189px;
    height: 28px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    font-family: 'Raleway';
    font-size: 20px;
    color: #F4A7B7;
    font-style: italic;
    text-indent: 15px;
}

header {
    width: 100%;
    background: #F25071;
    display: flex;
    height: 66px;
    align-items: center;
}

header p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 100px;
    margin-right:750px;
}

header li {  
    float: left;
    margin-left: 20px;
}

.sino {
    width: 16px;
    height: 18px;
}

.config {
    width: 18px;
    height: 19.5px;
}

.user {
    width: 28px;
    height: 28px;
}

#seta {
    width: 13px;
    height: 9px;
    position: relative;
    right: 15px;
    top: 5px;
    background: #F25071;
}

.mensagens {
    background: #f8f7f7;
}